@import "foundation/settings";
@import "foundation";
@import 'motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;
@include foundation-everything;
@include foundation-flex-grid;

.error {
  color: #f04124;
}

p{
  font-size:12px;
}

.button-group .button{
  margin:1px;
}

pan.error, small.error {
  display: block;
  font-size: 0.66667rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.88889rem;
  margin-top: -1px;
  padding: 0.33333rem 0.5rem 0.5rem;
  background: #f04124;
  color: #FFFFFF;
}

input.error, textarea.error, select.error {
  margin-bottom: 0;
}
