.sticky {
  top: 0;
  background: white;
  padding: 10px;
  border: 8px solid #000;
  margin: 250px 50px 0;
  width: 260px;
}
.sidebar_content {
  position: relative;
}


/* Base for label styling */

[type="checkbox"],
[type="radio"] {
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  &:not(:checked) + label:before, &:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;

  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: "\f126";
    font-family: foundation-icons;
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &:disabled {
    &:not(:checked) + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    &:checked + label {
      &:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      &:after {
        color: #999;
      }
    }
    + label {
      color: #aaa;
    }
  }

}

/* checkbox aspect */

/* checked mark aspect */

/* checked mark aspect changes */

/* disabled checkbox */

/* accessibility */

/* hover style just for information */

label:hover:before {
  border: 1px solid red !important;
}

/* Useless styles, just for demo design */

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #777;
}

h1 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  margin: 5px 0 2em;
  color: #aaa;
}

form {
  margin: 0 auto;
}

.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}

.copy {
  margin-top: 2em;
  a {
    text-decoration: none;
    color: #4778d9;
  }
}
